.item-count-container {
    max-width: 300px;
    margin: 0 auto;
}

.count-display {
    width: 50px;
    pointer-events: none; /* Evita que el usuario haga clic en el display */
    background-color: white;
}

.add-to-cart-btn {
    transition: all 0.3s ease;
}

.add-to-cart-btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Estilo para botones deshabilitados */
.btn:disabled {
    opacity: 0.5;
}